<configuration debug="true" scan="true">
    <!-- Since we strongly integrate with Payara's java.util.logging, we need to include this -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />  
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">    
        <file>${com.sun.aas.instanceRoot}/logs/payara.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${com.sun.aas.instanceRoot}/logs/payara.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
     
        <encoder>
            <pattern>[%d{ISO8601}] [%t] [%4p] [%logger]: %m%n</pattern>
        </encoder>
    </appender>
    <root>
        <level value="INFO" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
